.header {
  padding-top: 10px;
  background-color: red;
  height: 100px;
}
body {
  margin: 0;
  height: 100%;
  overflow: hidden;
}
.rightSide {
  position: fixed;
  right: 0;
  width: 300px;
  height: 100%;
  background-color: blue;
}

#currMousePos {
  position: absolute;
  top: 10;
  right: 10;
  user-select: none;
}

#zixtractCanvasDiv {
  position: relative;
}
