.header {
  padding-top: 10px;
  background-color: red;
  height: 100px;
}

#currMousePos {
  position: absolute;
  top: 10;
  right: 10;
  user-select: none;
}

#zixtractCanvasDiv {
  position: relative;
}
